.xiaomi-sports-fanny-pack.overview-con {
  width: 100%;
}
.xiaomi-sports-fanny-pack.overview-con .f12 {
  font-size: 0.046875rem;
}
.xiaomi-sports-fanny-pack.overview-con .f14 {
  font-size: 0.054688rem;
}
.xiaomi-sports-fanny-pack.overview-con .f16 {
  font-size: 0.0625rem;
}
.xiaomi-sports-fanny-pack.overview-con .f18 {
  font-size: 0.070313rem;
}
.xiaomi-sports-fanny-pack.overview-con .f20 {
  font-size: 0.078125rem;
}
.xiaomi-sports-fanny-pack.overview-con .f22 {
  font-size: 0.085938rem;
}
.xiaomi-sports-fanny-pack.overview-con .f24 {
  font-size: 0.09375rem;
}
.xiaomi-sports-fanny-pack.overview-con .f26 {
  font-size: 0.101563rem;
}
.xiaomi-sports-fanny-pack.overview-con .f28 {
  font-size: 0.109375rem;
}
.xiaomi-sports-fanny-pack.overview-con .f30 {
  font-size: 0.117188rem;
}
.xiaomi-sports-fanny-pack.overview-con .f32 {
  font-size: 0.125rem;
}
.xiaomi-sports-fanny-pack.overview-con .f34 {
  font-size: 0.132813rem;
}
.xiaomi-sports-fanny-pack.overview-con .f36 {
  font-size: 0.140625rem;
}
.xiaomi-sports-fanny-pack.overview-con .f38 {
  font-size: 0.148438rem;
}
.xiaomi-sports-fanny-pack.overview-con .f40 {
  font-size: 0.15625rem;
}
.xiaomi-sports-fanny-pack.overview-con .f42 {
  font-size: 0.164063rem;
}
.xiaomi-sports-fanny-pack.overview-con .f44 {
  font-size: 0.171875rem;
}
.xiaomi-sports-fanny-pack.overview-con .f46 {
  font-size: 0.179688rem;
}
.xiaomi-sports-fanny-pack.overview-con .f48 {
  font-size: 0.1875rem;
}
.xiaomi-sports-fanny-pack.overview-con .f50 {
  font-size: 0.195313rem;
}
.xiaomi-sports-fanny-pack.overview-con .f52 {
  font-size: 0.203125rem;
}
.xiaomi-sports-fanny-pack.overview-con .f54 {
  font-size: 0.210938rem;
}
.xiaomi-sports-fanny-pack.overview-con .f56 {
  font-size: 0.21875rem;
}
.xiaomi-sports-fanny-pack.overview-con .f58 {
  font-size: 0.226563rem;
}
.xiaomi-sports-fanny-pack.overview-con .f60 {
  font-size: 0.234375rem;
}
.xiaomi-sports-fanny-pack.overview-con .f62 {
  font-size: 0.242188rem;
}
.xiaomi-sports-fanny-pack.overview-con .f64 {
  font-size: 0.25rem;
}
.xiaomi-sports-fanny-pack.overview-con .f66 {
  font-size: 0.257813rem;
}
.xiaomi-sports-fanny-pack.overview-con .f68 {
  font-size: 0.265625rem;
}
.xiaomi-sports-fanny-pack.overview-con .f70 {
  font-size: 0.273438rem;
}
.xiaomi-sports-fanny-pack.overview-con .f72 {
  font-size: 0.28125rem;
}
.xiaomi-sports-fanny-pack.overview-con .f74 {
  font-size: 0.289063rem;
}
.xiaomi-sports-fanny-pack.overview-con .f76 {
  font-size: 0.296875rem;
}
.xiaomi-sports-fanny-pack.overview-con .f78 {
  font-size: 0.304688rem;
}
.xiaomi-sports-fanny-pack.overview-con .f80 {
  font-size: 0.3125rem;
}
.xiaomi-sports-fanny-pack.overview-con .f82 {
  font-size: 0.320313rem;
}
.xiaomi-sports-fanny-pack.overview-con .f86 {
  font-size: 0.335938rem;
}
.xiaomi-sports-fanny-pack.overview-con .f88 {
  font-size: 0.34375rem;
}
.xiaomi-sports-fanny-pack.overview-con .f90 {
  font-size: 0.351563rem;
}
.xiaomi-sports-fanny-pack.overview-con .f92 {
  font-size: 0.359375rem;
}
.xiaomi-sports-fanny-pack.overview-con .f98 {
  font-size: 0.382813rem;
}
.xiaomi-sports-fanny-pack.overview-con .f100 {
  font-size: 0.390625rem;
}
.xiaomi-sports-fanny-pack.overview-con .f106 {
  font-size: 0.414063rem;
}
.xiaomi-sports-fanny-pack.overview-con .f108 {
  font-size: 0.421875rem;
}
.xiaomi-sports-fanny-pack.overview-con .f110 {
  font-size: 0.429688rem;
}
.xiaomi-sports-fanny-pack.overview-con .f114 {
  font-size: 0.445313rem;
}
.xiaomi-sports-fanny-pack.overview-con .f116 {
  font-size: 0.453125rem;
}
.xiaomi-sports-fanny-pack.overview-con .f120 {
  font-size: 0.46875rem;
}
.xiaomi-sports-fanny-pack.overview-con .f128 {
  font-size: 0.5rem;
}
.xiaomi-sports-fanny-pack.overview-con .f130 {
  font-size: 0.507813rem;
}
.xiaomi-sports-fanny-pack.overview-con .f138 {
  font-size: 0.539063rem;
}
.xiaomi-sports-fanny-pack.overview-con .f140 {
  font-size: 0.546875rem;
}
.xiaomi-sports-fanny-pack.overview-con .f142 {
  font-size: 0.554688rem;
}
.xiaomi-sports-fanny-pack.overview-con .f144 {
  font-size: 0.5625rem;
}
.xiaomi-sports-fanny-pack.overview-con .f146 {
  font-size: 0.570313rem;
}
.xiaomi-sports-fanny-pack.overview-con .f148 {
  font-size: 0.578125rem;
}
.xiaomi-sports-fanny-pack.overview-con .f150 {
  font-size: 0.585938rem;
}
.xiaomi-sports-fanny-pack.overview-con .f156 {
  font-size: 0.609375rem;
}
.xiaomi-sports-fanny-pack.overview-con .f160 {
  font-size: 0.625rem;
}
.xiaomi-sports-fanny-pack.overview-con .f190 {
  font-size: 0.742188rem;
}
.xiaomi-sports-fanny-pack.overview-con .f200 {
  font-size: 0.78125rem;
}
.xiaomi-sports-fanny-pack.overview-con .f248 {
  font-size: 0.96875rem;
}
.xiaomi-sports-fanny-pack.overview-con .white {
  color: #fff;
}
.xiaomi-sports-fanny-pack.overview-con .black {
  color: #333;
}
.xiaomi-sports-fanny-pack.overview-con .section {
  position: relative;
  width: 100%;
}
.xiaomi-sports-fanny-pack.overview-con .section .text-container.absolute {
  position: absolute;
}
.xiaomi-sports-fanny-pack.overview-con .section-o1 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 5.890625rem;
  position: relative;
}
.xiaomi-sports-fanny-pack.overview-con .section-o1 .text-content {
  margin: 0 auto;
  padding-top: 0.4rem;
  text-align: center;
  width: 4rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o1 .f88 {
  line-height: 1;
}
.xiaomi-sports-fanny-pack.overview-con .section-o1 .f48 {
  line-height: 1.1;
  margin-top: 0.046875rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o1 .f30 {
  line-height: 1.1;
  margin-top: 0.101563rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o1 .price {
  margin-top: 0.28125rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o2 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 4.691406rem;
  position: relative;
}
.xiaomi-sports-fanny-pack.overview-con .section-o2 .text-content {
  padding: 1.679688rem 0 0 1.09375rem;
  text-align: left;
  width: 1.046875rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o2 .f60 {
  line-height: 1.2;
}
.xiaomi-sports-fanny-pack.overview-con .section-o2 .f30 {
  line-height: 1.3;
  margin-top: 0.09375rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o3 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 5.714844rem;
  position: relative;
}
.xiaomi-sports-fanny-pack.overview-con .section-o3 .text-content {
  margin: 0 auto;
  padding-top: 0.585938rem;
  text-align: center;
  width: 4.023438rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o3 .f60 {
  line-height: 1.2;
}
.xiaomi-sports-fanny-pack.overview-con .section-o3 .item {
  display: flex;
  flex-direction: column;
  left: 1.132813rem;
  position: absolute;
  text-align: left;
  width: 2.1875rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o3 .item01 {
  top: 1.6875rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o3 .item02 {
  top: 2.5625rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o3 .item03 {
  top: 3.5rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o3 .item04 {
  top: 4.453125rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o3 .f48 {
  line-height: 1.1;
  opacity: 0.6;
}
.xiaomi-sports-fanny-pack.overview-con .section-o3 .f30 {
  line-height: 1.3;
  margin-top: 0.03125rem;
  opacity: 0.6;
}
.xiaomi-sports-fanny-pack.overview-con .section-o4 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 4.890625rem;
  position: relative;
}
.xiaomi-sports-fanny-pack.overview-con .section-o4 .text-content {
  padding: 1.796875rem 0 0 5.46875rem;
  text-align: left;
  width: 3.554688rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o4 .f60 {
  line-height: 1.2;
}
.xiaomi-sports-fanny-pack.overview-con .section-o4 .f30 {
  line-height: 1.3;
  margin-top: 0.09375rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o5 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 4.894531rem;
  position: relative;
}
.xiaomi-sports-fanny-pack.overview-con .section-o5 .text-content {
  padding: 1.367188rem 0 0 1.132813rem;
  text-align: left;
  width: 3.554688rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o5 .f60 {
  line-height: 1.2;
}
.xiaomi-sports-fanny-pack.overview-con .section-o5 .f30 {
  line-height: 1.3;
  margin-top: 0.09375rem;
  opacity: 0.6;
}
.xiaomi-sports-fanny-pack.overview-con .section-o6 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 6.339844rem;
  position: relative;
}
.xiaomi-sports-fanny-pack.overview-con .section-o6 .text-content {
  margin: 0 auto;
  padding-top: 0.585938rem;
  text-align: center;
  width: 5.9375rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o6 .f60 {
  line-height: 1.2;
}
.xiaomi-sports-fanny-pack.overview-con .section-o6 .f30 {
  line-height: 1.3;
  margin-top: 0.09375rem;
  opacity: 0.6;
}
.xiaomi-sports-fanny-pack.overview-con .section-o7 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 4.886719rem;
  position: relative;
}
.xiaomi-sports-fanny-pack.overview-con .section-o7 .text-content {
  margin: 0 auto;
  padding-top: 0.546875rem;
  text-align: center;
  width: 5.9375rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o7 .f60 {
  line-height: 1.2;
}
.xiaomi-sports-fanny-pack.overview-con .section-o7 .f30 {
  line-height: 1.3;
  margin-top: 0.09375rem;
  opacity: 0.6;
}
.xiaomi-sports-fanny-pack.overview-con .section-o8 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 4.6875rem;
  position: relative;
}
.xiaomi-sports-fanny-pack.overview-con .section-o8 .text-content {
  margin: 0 auto;
  padding-top: 0.585938rem;
  text-align: center;
  width: 5.9375rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o8 .f60 {
  line-height: 1.2;
}
.xiaomi-sports-fanny-pack.overview-con .section-o8 .f30 {
  line-height: 1.3;
  margin-top: 0.09375rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o9 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 4.722656rem;
  position: relative;
}
.xiaomi-sports-fanny-pack.overview-con .section-o9 .text-content {
  padding: 1.757813rem 0 0 4.882813rem;
  text-align: left;
  width: 3.203125rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o9 .f60 {
  line-height: 1.2;
}
.xiaomi-sports-fanny-pack.overview-con .section-o9 .f30 {
  line-height: 1.3;
  margin-top: 0.09375rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o10 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 5.484375rem;
  position: relative;
}
.xiaomi-sports-fanny-pack.overview-con .section-o10 .text-content {
  margin: 0 auto;
  padding-top: 0.585938rem;
  text-align: center;
  width: 5.9375rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o10 .f60 {
  line-height: 1.2;
}
.xiaomi-sports-fanny-pack.overview-con .section-o10 .f30 {
  line-height: 1.3;
  margin-top: 0.09375rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o10 .f24 {
  bottom: 0.625rem;
  left: 2.460938rem;
  line-height: 1.3;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  width: 5.078125rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o11 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 5.089844rem;
  position: relative;
}
.xiaomi-sports-fanny-pack.overview-con .section-o12 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 4.886719rem;
  position: relative;
}
.xiaomi-sports-fanny-pack.overview-con .section-o12 .text-content {
  padding: 1.671875rem 0 0 1.09375rem;
  text-align: left;
  width: 3.515625rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o12 .f60 {
  line-height: 1.2;
}
.xiaomi-sports-fanny-pack.overview-con .section-o12 .f30 {
  line-height: 1.3;
  margin-top: 0.09375rem;
  opacity: 0.8;
}
.xiaomi-sports-fanny-pack.overview-con .section-o13 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 4.890625rem;
  position: relative;
}
.xiaomi-sports-fanny-pack.overview-con .section-o13 .text-content {
  padding: 2.167969rem 0 0 5.390625rem;
  text-align: left;
  width: 3.515625rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o13 .f60 {
  line-height: 1.2;
}
.xiaomi-sports-fanny-pack.overview-con .section-o14 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 4.882813rem;
  position: relative;
}
.xiaomi-sports-fanny-pack.overview-con .section-o15 {
  background-repeat: no-repeat;
  background-size: cover;
  height: 4.78125rem;
  position: relative;
}
.xiaomi-sports-fanny-pack.overview-con .section-o16 {
  background: #fff;
  position: relative;
}
.xiaomi-sports-fanny-pack.overview-con .section-o16 .text-content {
  margin: 0 auto;
  padding: 0.742188rem 0 0.523438rem;
  text-align: center;
  width: 5.078125rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o16 .f60 {
  line-height: 1.2;
}
.xiaomi-sports-fanny-pack.overview-con .section-o16 .img-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 0.507813rem;
  width: 9.59375rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o16 .item {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.xiaomi-sports-fanny-pack.overview-con .section-o16 .item:first-of-type .img {
  border-top-left-radius: 0.21875rem;
}
.xiaomi-sports-fanny-pack.overview-con
  .section-o16
  .item:first-of-type
  .text-contents {
  border-top-right-radius: 0.21875rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o16 .item:nth-of-type(3) .img {
  border-bottom-left-radius: 0.21875rem;
}
.xiaomi-sports-fanny-pack.overview-con
  .section-o16
  .item:nth-of-type(3)
  .text-contents {
  border-bottom-right-radius: 0.21875rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o16 .img {
  display: block;
  height: 3.101563rem;
  width: 4.796875rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o16 .text-contents {
  align-items: center;
  background: #f6f6f6;
  display: flex;
  width: 4.796875rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o16 .text {
  color: #2f323d;
  padding-left: 1.328125rem;
  text-align: left;
  width: 2.734375rem;
}
.xiaomi-sports-fanny-pack.overview-con .section-o16 .f30 {
  line-height: 1.3;
  margin-top: 0.117188rem;
}
.specs-con {
  background-color: #fff;
  width: 100%;
}
.specs-con .f12 {
  font-size: 12px;
}
.specs-con .f14 {
  font-size: 14px;
}
.specs-con .f16 {
  font-size: 16px;
}
.specs-con .f18 {
  font-size: 18px;
}
.specs-con .f20 {
  font-size: 20px;
}
.specs-con .f22 {
  font-size: 22px;
}
.specs-con .f24 {
  font-size: 24px;
}
.specs-con .f28 {
  font-size: 28px;
}
.specs-con .f30 {
  font-size: 30px;
}
.specs-con .f32 {
  font-size: 32px;
}
.specs-con .f36 {
  font-size: 36px;
}
.specs-con .f38 {
  font-size: 38px;
}
.specs-con .f40 {
  font-size: 40px;
}
.specs-con .f46 {
  font-size: 46px;
}
.specs-con .f48 {
  font-size: 48px;
}
.specs-con .f50 {
  font-size: 50px;
}
.specs-con .f56 {
  font-size: 56px;
}
.specs-con .f60 {
  font-size: 60px;
}
.specs-con .f64 {
  font-size: 64px;
}
.specs-con .f70 {
  font-size: 70px;
}
.specs-con .f72 {
  font-size: 72px;
}
.specs-con .f74 {
  font-size: 74px;
}
.specs-con .f76 {
  font-size: 76px;
}
.specs-con .f80 {
  font-size: 80px;
}
.specs-con .f90 {
  font-size: 90px;
}
.specs-con .f100 {
  font-size: 100px;
}
.specs-con .f110 {
  font-size: 110px;
}
.specs-con .f120 {
  font-size: 120px;
}
.specs-con .f130 {
  font-size: 130px;
}
.specs-con .f140 {
  font-size: 140px;
}
.specs-con .f148 {
  font-size: 148px;
}
.specs-con .f150 {
  font-size: 150px;
}
.specs-con .black {
  color: #323232;
}
.specs-con .gray {
  color: #646464;
}
.specs-con .section {
  border-bottom: 1px solid #00000029;
  margin: 0 auto;
  width: 1226px;
}
.specs-con .section:last-child {
  border-bottom: unset;
}
.specs-con .section-s1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 72px 0 100px;
}
.specs-con .section-s1 .image {
  display: block;
  height: 450px;
  margin: 0 auto;
  width: 799px;
}
.specs-con .section-s2 {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 76px 0 66px;
}
.specs-con .section-s2 .title {
  line-height: 1;
  width: 226px;
}
.specs-con .section-s2 .text-container {
  box-sizing: border-box;
  padding-top: 2px;
  width: 916px;
}
.specs-con .section-s2 .desc {
  align-items: stretch;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.specs-con .section-s2 .desc:nth-child(n + 2) {
  margin-top: 25px;
}
.specs-con .section-s2 .desc .black {
  width: 300px;
}
.specs-con .section-s2 .desc .gray {
  flex-grow: 1;
  margin-left: 10px;
}
.specs-con .section-s3 {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 76px 0 66px;
}
.specs-con .section-s3 .title {
  line-height: 1;
  width: 226px;
}
.specs-con .section-s3 .text-container {
  box-sizing: border-box;
  padding-top: 2px;
  width: 916px;
}
.specs-con .section-s3 .desc {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.specs-con .section-s3 .desc:nth-child(2) {
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.specs-con .section-s3 .desc:nth-child(2) .item {
  margin-top: 0 !important;
  width: auto;
}
.specs-con .section-s3 .desc:nth-child(n + 2) {
  margin-top: 20px;
}
.specs-con .section-s3 .desc .item {
  display: block;
  width: 100%;
}
.specs-con .section-s3 .desc .item:nth-child(n + 2) {
  margin-top: 20px;
}
.mi-modal.mi-modal--desktop .mi-modal__content.notify-pc-modal {
  min-width: 560px;
  width: 850px;
}
.notify-m-modal__title,
.notify-pc-modal__title {
  border-bottom: 1px solid var(--border-light-variant);
  color: var(--title-base);
  font-size: 28px;
  font-weight: 400;
  height: 80px;
  line-height: 80px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
.notify-m-modal__content,
.notify-pc-modal__content {
  box-sizing: border-box;
  padding: 30px 0;
}
.notify-m-modal__content .notify-modal__icon,
.notify-pc-modal__content .notify-modal__icon {
  display: flex;
  height: 100px;
  justify-content: center;
  margin-bottom: 15px;
}
.notify-m-modal__content .notify-modal__icon .xiaomi,
.notify-pc-modal__content .notify-modal__icon .xiaomi {
  color: #83c44e;
  font-size: 85px;
  line-height: 1;
}
.notify-m-modal__content .notify-modal__subtitle,
.notify-pc-modal__content .notify-modal__subtitle {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
.notify-m-modal__content .notify-modal__detail,
.notify-pc-modal__content .notify-modal__detail {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 475px;
}
.notify-m-modal__content .notify-modal__detail a,
.notify-pc-modal__content .notify-modal__detail a {
  color: #ff6700;
  text-decoration: underline;
}
.notify-m-modal__actions,
.notify-pc-modal__actions {
  align-items: center;
  border-top: 1px solid var(--border-light-variant);
  display: flex;
  height: 80px;
  justify-content: center;
}
.notify-m-modal__actions .notify-modal__button,
.notify-pc-modal__actions .notify-modal__button {
  align-items: center;
  background-color: var(--background-primary);
  border: 0;
  box-sizing: border-box;
  color: var(--link-light-variant);
  cursor: pointer;
  display: flex;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  line-height: 40px;
  padding: 0 40px;
  -webkit-user-select: none;
  user-select: none;
}
.mi-modal.mi-modal--mobile .notify-m-modal .mi-modal__title--center {
  font-size: 18px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: left;
}
.mi-modal.mi-modal--mobile .notify-m-modal .mi-modal__title-wrap {
  height: auto;
}
.mi-modal.mi-modal--mobile .notify-m-modal__content {
  padding-left: 10px;
  padding-right: 10px;
}
.mi-modal.mi-modal--mobile .notify-m-modal__content .notify-modal__icon {
  display: none;
}
.mi-modal.mi-modal--mobile .notify-m-modal__content .notify-modal__subtitle {
  font-size: 16px;
  text-align: left;
}
.mi-modal.mi-modal--mobile .notify-m-modal__content .notify-modal__detail {
  text-align: left;
  width: 100%;
}
.mi-modal.mi-modal--mobile .notify-m-modal__actions {
  display: none;
}
.buy-container {
  background-color: #fafafa;
  transition: height 0.5s ease;
  width: 100%;
}
.buy-container::-webkit-scrollbar {
  display: none;
}
.buy-container .product__main {
  border-top: none !important;
}
html {
  margin: 0 auto;
}
body,
html {
  height: 100%;
}
body,
html,
li,
p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
:root {
  --skeleton-color: #eee;
}
body > img,
head > img,
html > img {
  display: none;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
}
.xm-link {
  display: inline-block;
  text-decoration: none;
}
.xm-link.xm-button {
  background-color: initial;
}
.xm-button {
  background-color: #ff6700;
  color: #fff;
  padding: 0.046875rem;
}
.xm-text {
  display: inline-block;
  white-space: break-spaces !important;
}
.xm-blur {
  opacity: 0.3 !important;
}
.hide {
  display: none !important;
}
.xm-page-hide {
  height: 0;
  position: absolute;
}
.xm-update {
  position: relative;
}
.xm-update:after {
  border: 0.007813rem solid #ff0;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.xm-picture .xm-img {
  width: 100%;
}
.xm-img {
  color: #0000;
}
.xm-img:not([src]),
.xm-img[src=""] {
  visibility: hidden;
}
.xm-picture {
  display: inline-flex;
}
.eg .xm-text,
.gcc .xm-text,
.sa .xm-text {
  display: block;
}
.eg .footer.footer--desktop,
.eg .header.header--desktop,
.eg .xm-button,
.eg .xm-navbar,
.eg .xm-price,
.eg .xm-text,
.gcc .footer.footer--desktop,
.gcc .header.header--desktop,
.gcc .xm-button,
.gcc .xm-navbar,
.gcc .xm-price,
.gcc .xm-text,
.sa .footer.footer--desktop,
.sa .header.header--desktop,
.sa .xm-button,
.sa .xm-navbar,
.sa .xm-price,
.sa .xm-text {
  direction: rtl;
}
.eg .header.header--desktop .site-logo .site-logo__wrapper img,
.gcc .header.header--desktop .site-logo .site-logo__wrapper img,
.sa .header.header--desktop .site-logo .site-logo__wrapper img {
  transform: none;
}
.eg .header.header--desktop .entry__item:before,
.gcc .header.header--desktop .entry__item:before,
.sa .header.header--desktop .entry__item:before {
  right: 0;
}
.eg .header.header--desktop .entry__left .entry__item:first-child,
.gcc .header.header--desktop .entry__left .entry__item:first-child,
.sa .header.header--desktop .entry__left .entry__item:first-child {
  padding-left: 20px;
}
.eg .footer.footer--desktop .footer-bottom .copyright,
.gcc .footer.footer--desktop .footer-bottom .copyright,
.sa .footer.footer--desktop .footer-bottom .copyright {
  float: right;
}
.section {
  background-repeat: no-repeat;
  margin-bottom: -1px;
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: initial;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: initial;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
.hairlines abbr[title] {
  border-bottom: 0.5px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 0.15625rem;
}
hr {
  box-sizing: initial;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, sans-serif;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  appearance: textfield;
  box-sizing: initial;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
fieldset {
  border: 1px solid silver;
  margin: 0 0.007813rem;
  padding: 0.35em 0.625em 0.75em;
}
.hairlines fieldset {
  border: 0.5px solid silver;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: 700;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  font-size: 14px;
  line-height: 1.5;
}
a,
body {
  color: #757575;
}
p > a {
  color: #ff6700;
}
p > a:hover {
  text-decoration: underline;
}
dd,
dl,
dt,
li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: initial;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
.eco_name-88 {
  font-size: 0.34375rem;
  line-height: 0.429688rem;
}
.eco_name-80 {
  font-size: 0.3125rem;
  line-height: 0.390625rem;
}
.eco_name-72 {
  font-size: 0.34375rem;
  line-height: 0.351563rem;
}
.eco_slogan {
  font-size: 0.1875rem;
  line-height: 0.234375rem;
}
.eco_ksp {
  font-size: 0.117188rem;
  line-height: 0.171875rem;
}
.eco_name-radius {
  border-radius: 0.015625rem;
  font-size: 0.15625rem;
  line-height: 0.226563rem;
}
.eco_ksp-title {
  font-size: 0.125rem;
  line-height: 0.15625rem;
}
.eco_ksp-text {
  font-size: 0.09375rem;
  line-height: 0.125rem;
}
.eco_ksp-item {
  padding: 0.117188rem 0.136719rem;
}
.eco_title {
  font-size: 0.234375rem;
  line-height: 0.28125rem;
}
.eco_text {
  font-size: 0.117188rem;
  line-height: 0.15625rem;
}
.eco_note {
  font-size: 0.09375rem;
  line-height: 0.109375rem;
}
.eco_number {
  font-size: 0.429688rem;
  line-height: 0.429688rem;
}
.eco_note-text {
  font-size: 0.09375rem;
  line-height: 0.125rem;
}
.price-common {
  font-size: 0.257813rem;
  font-weight: 300;
}
.price-common .xm-price__from {
  font-size: 60%;
  margin: 0 0.039063rem;
}
.price-common .xm-price__sNum {
  font-weight: 700;
  margin: 0;
}
.price-common .xm-price__label {
  font-size: 60%;
  margin: 0;
}
.price-common .xm-price--current .xm-price__label {
  font-size: 100%;
  font-weight: 700;
}
.price-common .xm-price--sale {
  margin-right: 0.039063rem;
}
.price-common .xm-price--sale .xm-price__label,
.price-common .xm-price--sale .xm-price__sNum {
  margin: 0;
}
.price-common .xm-price--origin .xm-price__label {
  font-size: 100%;
}
.price-common .xm-price--origin .xm-price__mNum {
  margin: 0;
}
.scroll-common .slick-slider .slick-dots li > button {
  background-color: initial;
  border: 0.007813rem solid #fff;
  border-radius: 50%;
  height: 0.054688rem;
  padding: 0;
  text-indent: -39.058594rem;
  width: 0.054688rem;
}
.scroll-common .slick-slider .slick-dots li.slick-active > button {
  background-color: #fff;
}
.scroll-common .slick-slider .slick-arrow {
  height: 0.195313rem;
  width: 0.195313rem;
}
.scroll-common .slick-slider .slick-prev {
  background: url(//i01.appmifile.com/webfile/globalimg/zh/2021/left.png)
    no-repeat;
  background-size: 100% 100%;
}
.scroll-common .slick-slider .slick-next {
  background: url(//i01.appmifile.com/webfile/globalimg/zh/2021/right.png)
    no-repeat;
  background-size: 100% 100%;
}
.scroll-common-grey .slick-slider .slick-dots li > button {
  background-color: initial;
  border: 0.007813rem solid #fff;
  border-radius: 50%;
  height: 0.054688rem;
  padding: 0;
  text-indent: -39.058594rem;
  width: 0.054688rem;
}
.scroll-common-grey .slick-slider .slick-dots li.slick-active > button {
  background-color: #fff;
}
.scroll-common-grey .slick-slider .slick-arrow {
  height: 0.195313rem;
  width: 0.195313rem;
}
.scroll-common-grey .slick-slider .slick-prev {
  background: url(//i01.appmifile.com/webfile/globalimg/zh/2021/left-grey.png)
    no-repeat;
  background-size: 100% 100%;
}
.scroll-common-grey .slick-slider .slick-next {
  background: url(//i01.appmifile.com/webfile/globalimg/zh/2021/right-grey.png)
    no-repeat;
  background-size: 100% 100%;
}
.scroll-small li > button {
  border-radius: 0;
  height: 0.023438rem;
  margin: 0 0.03125rem;
  width: 0.195313rem;
}
.scroll-small .slick-slide div img {
  border-radius: 0.195313rem;
}
.eco_specs-title {
  font-size: 0.109375rem;
  line-height: 0.140625rem;
}
.eco_specs-label,
.eco_specs-value {
  font-size: 0.070313rem;
  line-height: 0.101563rem;
}
.f-thin {
  font-weight: 100;
}
.f-extra {
  font-weight: 200;
}
.f-light {
  font-weight: 300;
}
.f-regular {
  font-weight: 400;
}
.f-medium {
  font-weight: 500;
}
.f-semi {
  font-weight: 600;
}
.f-bold {
  font-weight: 700;
}
.f-bolder {
  font-weight: 800;
}
.f-heavy {
  font-weight: 900;
}
.xm-button,
.xm-navbar__nav-item,
.xm-price {
  font-weight: 400 !important;
}
.price-common {
  font-weight: 300 !important;
}
.price-common .xm-price--current .xm-price__label,
.price-common .xm-price__sNum {
  font-weight: 700 !important;
}
@font-face {
  font-family: CamphorPro-Light;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Light.woff)
    format("woff");
}
@font-face {
  font-family: CamphorPro-Regular;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Regular.woff)
    format("woff");
}
@font-face {
  font-family: CamphorPro-Bold;
  font-weight: 700;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Bold.woff)
    format("woff");
}
@font-face {
  font-family: CamphorPro-Thin;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Thin.woff)
    format("woff");
}
@font-face {
  font-family: CamphorPro-Heavy;
  font-weight: 900;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Heavy.woff)
    format("woff");
}
@font-face {
  font-family: CamphorPro-Medium;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Medium.woff)
    format("woff");
}
@font-face {
  font-family: CamphorProForXiaoMi-Light;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Light.woff)
    format("woff");
}
@font-face {
  font-family: CamphorProForXiaoMi-Regular;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Regular.woff)
    format("woff");
}
@font-face {
  font-family: CamphorProForXiaoMi-Bold;
  font-weight: 700;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Bold.woff)
    format("woff");
}
@font-face {
  font-family: CamphorProForXiaoMi-Thin;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Thin.woff)
    format("woff");
}
@font-face {
  font-family: CamphorProForXiaoMi-Heavy;
  font-weight: 900;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Heavy.woff)
    format("woff");
}
@font-face {
  font-family: CamphorProForXiaoMi-Medium;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/CamphorProForXiaoMi/CamphorProForXiaoMi-Medium.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-Light;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Light.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-ExtraLight;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-ExtraLight.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-Regular;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Regular.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-Bold;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Bold.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-Book;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Book.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-SemiBold;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-SemiBold.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-Hairline;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Hairline.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-Medium;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Medium.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-cool-Light;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Light.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-cool-ExtraLight;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-ExtraLight.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-cool-Regular;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Regular.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-cool-Bold;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Bold.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-cool-Book;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Book.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-cool-SemiBold;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-SemiBold.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-cool-Hairline;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Hairline.woff)
    format("woff");
}
@font-face {
  font-family: POCOTech-cool-Medium;
  src: url(https://i01.appmifile.com/webfile/globalimg/miv4/font/POCOTech/POCOTech-cool-Medium.woff)
    format("woff");
}
.poco .f-light {
  font-family: POCOTech-Light, sans-serif;
}
.poco .f-extra {
  font-family: POCOTech-ExtraLight, sans-serif;
}
.poco .f-regular {
  font-family: POCOTech-Regular, sans-serif;
}
.poco .f-bold {
  font-family: POCOTech-Bold, sans-serif;
}
.poco .f-book {
  font-family: POCOTech-Book, sans-serif;
}
.poco .f-semi {
  font-family: POCOTech-SemiBold, sans-serif;
}
.poco .f-hair {
  font-family: POCOTech-Hairline, sans-serif;
}
.poco .f-medium {
  font-family: POCOTech-Medium, sans-serif;
}
#root {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
  min-width: 1226px;
}
#review-root {
  min-height: 100vh;
}
a {
  color: inherit;
  font-size: 14px;
  text-decoration: none;
}
.container {
  margin: 0 auto;
  width: 1226px;
}
main {
  display: inline-block;
  font-size: 16px;
}
body {
  background-color: var(--background-base);
  color: var(--title-dark);
}
input,
select,
textarea {
  background-color: var(--background-card-bg);
  border-color: var(--title-dark);
}

.icon-custom-service:before {
  content: "\e698";
}
.icon-poco-live-quiz:before {
  content: "\e697";
}
.icon-poco-custom-service:before {
  content: "\e696";
}
.icon-poco-live-poll:before {
  content: "\e68e";
}
.icon-poco-live-send:before {
  content: "\e691";
}
.icon-poco-live-shopping-bag:before {
  content: "\e692";
}
.icon-poco-live-coupon:before {
  content: "\e693";
}
.icon-share-fill:before {
  content: "\e694";
}
.icon-thumb-up:before {
  content: "\e695";
}
.icon-poco-circle-on:before {
  content: "\e688";
}
.icon-poco-circle:before {
  content: "\e689";
}
.icon-poco-home:before {
  content: "\e68a";
}
.icon-poco-me-on:before {
  content: "\e68b";
}
.icon-poco-service:before {
  content: "\e68c";
}
.icon-poco-me:before {
  content: "\e68d";
}
.icon-poco-service-on:before {
  content: "\e68f";
}
.icon-poco-home-on:before {
  content: "\e690";
}
.icon-poco:before {
  content: "\e687";
}
.icon-xiangyouxuanzhuan:before {
  content: "\e683";
}
.icon-xiangzuoxuanzhuan:before {
  content: "\e684";
}
.icon-quanping:before {
  content: "\e685";
}
.icon-tuichuquanping:before {
  content: "\e686";
}
.icon-top:before {
  content: "\e682";
}
.icon-share-review:before {
  content: "\e681";
}
.icon-reply:before {
  content: "\e680";
}
.icon-eyes:before {
  content: "\e67f";
}
.icon-gengduo1:before {
  content: "\e67e";
}
.icon-arrow-up:before {
  content: "\e7be";
}
.icon-dianzan:before {
  content: "\e67c";
}
.icon-help-unsolve:before {
  content: "\e67b";
}
.icon-help-solve:before {
  content: "\e67d";
}
.icon-help-phone:before {
  content: "\e67a";
}
.icon-help-letters:before {
  content: "\e668";
}
.icon-radio-checked:before {
  content: "\e666";
}
.icon-radio-unchecked:before {
  content: "\e667";
}
.icon-live-shopping-bag:before {
  content: "\e669";
}
.icon-more:before {
  content: "\e66a";
}
.icon-live-send:before {
  content: "\e66b";
}
.icon-live-poll:before {
  content: "\e66c";
}
.icon-live-coupon:before {
  content: "\e66d";
}
.icon-live-quiz:before {
  content: "\e66e";
}
.icon-favorite:before {
  content: "\e66f";
}
.icon-smile:before {
  content: "\e670";
}
.icon-lamp-bulb:before {
  content: "\e671";
}
.icon-earphone:before {
  content: "\e672";
}
.icon-love:before {
  content: "\e673";
}
.icon-cellphone:before {
  content: "\e674";
}
.icon-mouse:before {
  content: "\e675";
}
.icon-power-bank:before {
  content: "\e676";
}
.icon-loudspeaker:before {
  content: "\e677";
}
.icon-band:before {
  content: "\e678";
}
.icon-luggage:before {
  content: "\e679";
}
.icon-help-message:before {
  content: "\e665";
}
.icon-telephone-service:before {
  content: "\e663";
}
.icon-manual-service:before {
  content: "\e664";
}
.icon-vk:before {
  content: "\e662";
}
.icon-line:before {
  content: "\e62f";
}
.icon-whatsapp:before {
  content: "\e661";
}
.icon-Arrow:before {
  content: "\e65f";
}
.icon-mi-logo:before {
  content: "\e660";
}
.icon-copy:before {
  content: "\e65e";
}
.icon-pc:before {
  content: "\e65d";
}
.icon-bell:before {
  content: "\e65c";
}
.icon-miui:before {
  content: "\e65b";
}
.icon-free:before {
  content: "\e65a";
}
.icon-car:before {
  content: "\e659";
}
.icon-cart-add:before {
  content: "\e657";
}
.icon-cart-checked:before {
  content: "\e658";
}
.icon-cart-del:before {
  content: "\e656";
}
.icon-arrow-down-tri:before {
  content: "\e655";
}
.icon-arrow-left-s:before {
  content: "\e653";
}
.icon-arrow-right-s:before {
  content: "\e654";
}
.icon-arrow-up-l:before {
  content: "\e651";
}
.icon-arrow-down-l:before {
  content: "\e652";
}
.icon-facebook:before {
  content: "\e649";
}
.icon-youtube:before {
  content: "\e64a";
}
.icon-twitter:before {
  content: "\e64b";
}
.icon-ins:before {
  content: "\e64c";
}
.icon-secure-payment:before {
  content: "\e64d";
}
.icon-service-network:before {
  content: "\e64e";
}
.icon-replacement:before {
  content: "\e64f";
}
.icon-google:before {
  content: "\e650";
}
.icon-cart-add-24:before {
  content: "\e648";
}
.icon-arrow-right-l:before {
  content: "\e646";
}
.icon-arrow-left-l:before {
  content: "\e647";
}
.icon-arrow-down-s:before {
  content: "\e63e";
}
.icon-arrow-up-s:before {
  content: "\e63f";
}
.icon-cart-empty-24:before {
  content: "\e640";
}
.icon-price-down:before {
  content: "\e641";
}
.icon-price-up:before {
  content: "\e642";
}
.icon-checked:before {
  content: "\e643";
}
.icon-cart-full-24:before {
  content: "\e644";
}
.icon-search-24:before {
  content: "\e645";
}
.icon-minus:before {
  content: "\e63d";
}
.icon-plus:before {
  content: "\e63c";
}
.icon-f:before {
  content: "\e603";
}
.icon-arrow-right:before {
  content: "\e600";
}
.icon-down:before {
  content: "\e63b";
}
.icon-jiantou:before {
  content: "\e604";
}
.icon-select-arrow:before {
  content: "\e63a";
}
.icon-milogo:before {
  content: "\e602";
}
.icon-remind:before {
  content: "\e601";
}
.icon-copylink:before {
  content: "\e639";
}
.icon-location:before {
  content: "\e637";
}
.icon-track:before {
  content: "\e638";
}
.icon-arrowlittle:before {
  content: "\e62d";
}
.icon-check:before {
  content: "\e62e";
}
.icon-back:before {
  content: "\e630";
}
.icon-info:before {
  content: "\e631";
}
.icon-edit:before {
  content: "\e632";
}
.icon-share:before {
  content: "\e633";
}
.icon-delete:before {
  content: "\e634";
}
.icon-question:before {
  content: "\e635";
}
.icon-m-home:before {
  content: "\e636";
}
.icon-star-orange:before {
  content: "\e62c";
}
.icon-s-time:before {
  content: "\e628";
}
.icon-s-locate:before {
  content: "\e629";
}
.icon-s-phone:before {
  content: "\e62a";
}
.icon-s-warranty:before {
  content: "\e62b";
}
.icon-cleartext:before {
  content: "\e61b";
}
.icon-close:before {
  content: "\e627";
}
.icon-star1:before {
  content: "\e622";
}
.icon-delivery:before {
  content: "\e61a";
}
.icon-tag:before {
  content: "\e61c";
}
.icon-delivery1:before {
  content: "\e61d";
}
.icon-pullup:before {
  content: "\e61e";
}
.icon-pulldown:before {
  content: "\e61f";
}
.icon-volume:before {
  content: "\e620";
}
.icon-star:before {
  content: "\e621";
}
.icon-miextendedwarranty:before {
  content: "\e623";
}
.icon-mute:before {
  content: "\e624";
}
.icon-miprotect:before {
  content: "\e625";
}
.icon-like:before {
  content: "\e626";
}
.icon-chat:before {
  content: "\e60f";
}
.icon-google_x:before {
  content: "\e610";
}
.icon-facebook_x:before {
  content: "\e611";
}
.icon-email:before {
  content: "\e612";
}
.icon-twitter_x:before {
  content: "\e613";
}
.icon-hotline:before {
  content: "\e614";
}
.icon-youtube_x:before {
  content: "\e615";
}
.icon-vk_x:before {
  content: "\e616";
}
.icon-line_x:before {
  content: "\e617";
}
.icon-instagram_x:before {
  content: "\e618";
}
.icon-nation:before {
  content: "\e619";
}
.icon-account:before {
  content: "\e605";
}
.icon-cart:before {
  content: "\e606";
}
.icon-category:before {
  content: "\e607";
}
.icon-home:before {
  content: "\e608";
}
.icon-message:before {
  content: "\e609";
}
.icon-discovery:before {
  content: "\e60a";
}
.icon-search:before {
  content: "\e60b";
}
.icon-search_bar:before {
  content: "\e60c";
}
.icon-service:before {
  content: "\e60d";
}
.icon-setting:before {
  content: "\e60e";
}
